:root {
    --background-color: #282A35;
    --foreground-color: #FBFAF3;
    --accent-1: #E8E8B7;
    --accent-2: #BFE6FF;
    --accent-3: #EBAAF0;
    --accent-4: #94C779;
    --accent-5: #AD8BE8;
    
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: 'ivysoft-variable';
}

a {
    text-decoration-line: none;
}

a:link {
    color: var(--accent-2);
}

a:visited {
    color: var(--accent-3);
}

a:hover {
    font-weight: bold;
}

.topNav {
    font-size: larger;
    border-bottom: 1px solid var(--accent-2);
    align-items: center;
    padding-bottom: 10px;
    display: flex;
}

.topNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
}

.topNav a {
    display: block;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
}

.topNav a:visited {color: var(--accent-2);}

.topNav a:hover {
    background-color: var(--accent-2);
    color: var(--background-color);
}

.default-img {
    display: block;
}
.hover-image:hover .default-img {
    display: none;
}

.hover-img {
    display: none;
}

.hover-image:hover .hover-img {
    display: block
}

.bottomFoot {
    border-top: 1px solid var(--accent-2);
    padding-top: 10px;
}

.bottomFoot ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.bottomFoot ul li, 
.bottomFoot h1, 
.bottomFoot p {
    margin: 5px;
}

.logoList {
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.logoList img {
    width: 20px;
    height: 20px;
    display: block;
}

.copyright {
    margin-top: 30px;
    font-size: smaller;
    color: var(--accent-2);
    text-align: center;
}