<footer class="bottomFoot">
    <ul>
        <li><img src="/assets/images/logo_DarkModeLogo.svg" alt="My Logo" height="72px" width="72px"></li>
        <li>
            <ul style="display: block;">
                <li><h1>Colwell.PhD</h1></li>
                <li><p>A Jake of all trades is a master of none</p></li>
                <li>
                    <ul class="logoList">
                        <li><a href="https://www.linkedin.com/in/jacob-colwell"><img src="/assets/images/linkedin-logo.svg" alt="LinkedIn"></a></li>
                        <li><a href="https://orcid.org/0009-0006-9420-6772"><img src="/assets/images/orcid.logo.icon.svg" alt="ORCID"></a></li>
                        <li><a href="https://scholar.google.com/citations?user=9ZW47dYAAAAJ&hl=en"><img src="/assets/images/googlescholar.ico" alt="Google Scholar"></a></li>
                        <li><a href="https://github.com/jgreen020"><img src="/assets/images/pinned-octocat-093da3e6fa40.svg" alt="GitHub"></a></li>
                        <li><a href="https://myanimelist.net/profile/jgreen019"><img src="/assets/images/MALfavicon.svg" alt="My Anime List"></a></li>
                    </ul>
            </ul>
        </li>
    </ul>
    <div class="copyright">&copy Jacob Colwell 2026</div>
</footer>