<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="https://use.typekit.net/jjp6bxf.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" sizes="any" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
</head>
<body>
{% include navigation.html %}

{{ content }}

{% include footer.html %}
</body>
</html>